<li>
  <h3>
    <%= link_to project.title.capitalize, project %>
  </h3>
  <h5>
    <%=project.description%>
  <h5>
    <h5>
    Project Members
    <br>
    <ol>
    <% project.users.each { |u|%>
      <li>
        <%=u.name.capitalize%>
      </li>
      <%}%>
    </ol>

  <h5>


  <% if current_user.admin? %>
    <%= link_to "delete", project, method: :delete,
                                  data: { confirm: "You sure?" } %>
    | <%= link_to "edit", [:edit, project] %>
  <% end %>
</li>
