<h1>Edit Project</h1>
<div class="container" style="width:400px;float:left;margin-left: 50px">
<%= bootstrap_form_for(@project) do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :description %>
   <%= collection_select(:user,:user_id, User.all ,:id, :name) %>
  <br>
  <br>

  <%= f.submit "  Edit  " %>


  </div>
<% end %>
