<h1>Edit project</h1>
<div class="container" style="width:400px;float:left;margin-left: 50px">
  <%= bootstrap_form_for([@project]) do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :description %>
    <div style="overflow: auto; max-height: 130px;margin-bottom: 20px">
      <%= f.collection_check_boxes(:user_ids , @users , :id, :name) %>

    </div>
    <%= f.submit "Edit" %>
  <% end %>
</div>

