<div class="row" style="margin-left: 20px">
  <h3>
    <%= @project.title.capitalize %>
  </h3>
  <p style="margin-left: 20px">
      <%= @project.description %>
  </p>
  <div style="margin-top: 40px;margin-right: 40px;width: 350px">
    <h4>Project users</h4>
    <table class="table table-hover">
      <tr style="color: #000000; ">
        <th>Id</th>
        <th>Name</th>
        <th>email</th>
      </tr>
      <%@project.users.each do |u|%>
        <tr>
          <td><%=u.id%></td>
          <td><%=u.name%></td>
          <td><%=u.email%></td>
        <tr>
      <% end%>
    </table>
  </div>
  <div style="margin-top: 40px; width: 600px">
    <span style="float: left"> <h4>Project Bugs</h4></span>
    <span style="float: right;">
      <%= link_to "Report Bug" , new_project_bug_path(@project)%>
    </span>
    <table class="table table-hover" id='<%=current_user.name %>' >
      <tr style="color: #000000;">
        <th>Id</th>
        <th>Title</th>
        <th>Type</th>
        <th>Status</th>
        <th>Creater</th>
        <th>Assignee</th>
      </tr>
      <%@project.bugs.each do |u|%>
        <tr id='<%=@project.id %>'>
          <td><%=u.id%></td>
          <td><%=link_to u.title , project_bug_path(project_id: @project.id ,id: u.id)%></td>
          <td><%=u.bug_type%></td>
          <td><%=u.status%></td>
          <td><%=u.creater.name%></td>
          <%if current_user.user_type == "Developer" && u.asigned.nil? %>
            <td class="btn btn-primary assign_bug", id='bla-<%=u.id %>'>
              Assign me
            </td>
            <td class="show_me" ,  id='sho<%=u.id %>' hidden="true">
              <%=current_user.name%>
            </td>
          <%elsif u.asigned.nil?%>
            <td>Not assigned yet</td>
          <%else%>
            <td><%=u.asigned.name%></td>
          <% end %>
        </tr>
      <% end%>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.assign_bug').on('click', function(e){
      console.log(e)
      if(confirm("are u sure?")){
        $.ajax({
          url: '/projects/'+this.parentElement.id+'/bugs/'+this.id+'/assign_bug',
          type: 'GET',
          success: function(r){
            $('.assign_bug').find('.'+this.id).removeClass('btn btn-primary');
            $('.assign_bug').find('.'+this.id).val(r.name);
          }
        });
      }
    });
  });

</script>
