<h1>Edit bug</h1>
<div class="container" style="width:500px;float:left;margin-left: 50px">
<%= bootstrap_form_for([@bug.project,@bug], layout: :inline, label_col: "col-sm-2") do |f| %>
  <%= f.text_field :title , layout: :default  %><br><br>

  <%= f.text_area :description, layout: :default %><br><br>
  <%= f.datetime_select :deadline  %><br><br>
  <h5>Created by :</h5><%= collection_select(:bug,:created_by, User.all ,:id, :name) %><br><br>
  <h5>Assigned to :</h5>
  <%= collection_select(:bug,:asigned_to, User.all ,:id, :name) %><br><br>
  <%= f.select :bug_type, [["Feature", "Feature"], ["Bug", "Bug"]], { label: "Choose bug type:" }, { class: "selectpicker" } %>
  <%= f.select :status, [["new", "new"], ["started", "started"], ["completed", "completed"]], { label: "Choose bug status:" }, { class: "selectpicker" } %>
  <br>

  <%= f.submit "Edit" %>

  </div>
<% end %>
