<h1>Edit bug</h1>
<div class="container" style="width:500px;float:left;margin-left: 50px">
  <%= bootstrap_form_for([@bug.project,@bug], layout: :inline, label_col: "col-sm-2") do |f| %>
    <%= f.text_field :title , layout: :default  %><br><br>
    <%= f.text_area :description, layout: :default %><br><br>
    <%= f.datetime_select :deadline  %><br><br>
    <%=f.file_field :screenshot%><br><br>
    <%= f.submit "Edit" %>
  <% end %>
</div>

