<h1>New bug</h1>
<div class="container" style="width:500px;float:left;margin-left: 50px">
  <%= bootstrap_form_for([@project, @bug], layout: :inline, label_col: "col-sm-2") do |f| %>
  <%= f.hidden_field :project_id, value: @project.id %>
  <%= f.text_field :title , layout: :default  ,label: "Title "%><br><br>
  <%= f.text_area :description, layout: :default %><br><br>
  <%= f.datetime_select :deadline  %><br><br>
  <%= f.select :bug_type, [["Feature", "Feature"], ["Bug", "Bug"]], { label: "Choose bug type:" }, { class: "selectpicker" } %>
  <%= f.select :status, [["new", "new"], ["started", "started"], ["completed", "completed"]], { label: "Choose bug status:" }, { class: "selectpicker" } %><br>
  <%=f.file_field :screenshot%><br><br>
  <%= f.submit "Create" %>
  <% end %>
</div>

